{% extends "base.html" %}
{% block title %}Edit Garden {{ garden.id }}{% endblock %}
{% block content %}
    <h1>Edit Garden {{ garden.id }}</h1>
    <p>Editing garden {{ garden.id }}</p>
    <form method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" value="{# garden.name #}">
        <label for="type">Type: </label>
        <input type="text" name="type" value="{# garden.type #}">
        <label for="location">Location: </label>
        <input type="text" name="location" value="{# garden.location #}">
        <label for="comments">Comments: </label>
        <textarea name="comments" form="new_plant" rows="4" cols="80"></textarea>
        <a href="#">Cancel</a>
        <input type="submit" name="Edit" value="Edit">
    </form>
{% endblock %}
