{% extends "base.html" %}
{% block title %}Edit plant {{ plant.id }}{% endblock %}
{% block content %}
    <h1>Edit plant {{ plant.id }}</h1>
    <p>Editing plant {{ plant.id }} in garden {{ plant.garden_id }}</p>
    <form method="post" id="plant_edit">
        <label for="name">Name: </label>
        <input type="text" name="name" value="{{ plant.name }}">
        <label for="type">Type: </label>
        <input type="text" name="type" value="{{ plant.plant_type }}">
        <label for="comments">Comments: </label>
        <textarea name="comments" form="plant_edit" rows="4" cols="80">{{ plant.comments }}</textarea>
        <a href="{{url_for('showGarden', garden_id=plant.garden_id)}}" class="btn btn-secondary">Cancel</a>
        <input type="submit" name="Edit" value="Edit" class="btn btn-primary">
    </form>
{% endblock %}
