{% extends "base.html" %}
{% block title %}New Garden{% endblock %}
{% block content %}
    <h1>New Garden</h1>
    <p>Creating a garden</p>
    <form method="post" id="garden_new">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name">
        </div>
        <div class="form-group">
            <label for="type">Type: </label>
            <input type="text" name="type">
        </div>
        <div class="form-group">
            <label for="location">Location: </label>
            <input type="text" name="location">
        </div>
        <div class="">
            <label for="comments">Comments: </label>
            <textarea name="comments" form="garden_new" rows="4" cols="80"></textarea>
        </div>
        <a href="{{ url_for('showGardens') }}" class="btn btn-secondary">Cancel</a>
        <input type="submit" name="Create" value="Create" class="btn btn-success">
    </form>
{% endblock %}
