{% extends "base.html" %}
{% block title %}New Plant{% endblock %}
{% block content %}
    <h1>New plant in garden {{garden_id}}</h1>
    <p>Creating a plant</p>
    <form method="post" id="plant_new">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <label for="type">Type: </label>
        <input type="text" name="type">
        <label for="comments">Comments: </label>
        <textarea name="comments" form="plant_new" rows="4" cols="80"></textarea>
        <a href="{{url_for('showGarden', garden_id=garden_id)}}">Cancel</a>
        <input type="submit" name="Create" value="Create">
    </form>
{% endblock %}
